BITFLYER_REST=https://api.bitflyer.com/v1
BITFLYER_WS=wss://ws.lightstream.bitflyer.com/json-rpc
BITHUMB_REST=https://api.bithumb.com/public
BITSTAMP_REST=https://www.bitstamp.net/api/v2
BITSTAMP_WS=wss://ws.bitstamp.net
COINBASE_REST=https://api.pro.coinbase.com
COINBASE_WS=wss://ws-feed.gdax.com
DERIBIT_REST=https://deribit.com/api/v2
ETHFINEX_REST=https://api.ethfinex.com/v2
ETHFINEX_WS=wss://api.ethfinex.com/ws/2
GEMINI_REST=https://api.gemini.com/v1
GEMINI_WS=wss://api.gemini.com/v1/marketdata/
IDEX_REST=https://api.idex.market
IDEX_WS=wss://datastream.idex.market
IDEX_KEY=IDEX_API_KEY
KRAKEN_REST=https://api.kraken.com/0/public
KRAKEN_WS=wss://ws.kraken.com
LIQUID_REST=https://api.liquid.com
LIQUID_PUSHER_HOSTNAME=tap.liquid.com
LIQUID_PUSHER_KEY=liquid
POLONIEX_REST=https://poloniex.com/public
POLONIEX_WS=wss://api2.poloniex.com
PORT=5000
DATABASE_URL=localhost
UPDATE_FREQ=29